@import "./variables";

.app.dark {
  background-color: $eerie-black;
  color: $snow;
  * {
    box-shadow: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $fire-brick;
  }

  header {
    h1 {
      color: $air-force-blue;
    }
  }

  button {
    background-color: $air-force-blue;
    user-select: none;
    color: $snow;
    &:hover {
      color: $air-force-blue;
      background-color: $snow;
    }
    &:active {
      color: $fire-brick;
      background-color: $snow;
    }
  }

  label.darkModeBtn {
    background-color: #000;
    &:hover {
      color: #000;
      background-color: white;
    }
  }

  .loader,
  .loader:before,
  .loader:after {
    background: $snow;
  }
  .loader {
    color: $snow;
  }
}
