@import "../../node_modules/normalize.css/normalize";
@import "./variables";
@import "./utility";

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  transition: 0.1s color ease-in, 0.5s background-color ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: $air-force-blue;
}

body {
  width: 400px;
}

.app {
  padding: 10px;
  background-color: $snow;
}

.app > header {
  h1 {
    color: $fire-brick;
  }
  hr {
    border-top: 1px solid gray;
    margin-top: 10px;
  }
}

button {
  color: $air-force-blue;
  background-color: $snow;
  text-transform: uppercase;
  font-weight: 600;
  padding: 2px 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 0 none;
  transition: transform 0.1s ease-in, opacity 0.2s ease-in;
  &:hover {
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.12), 0 0.5px 1px rgba(0, 0, 0, 0.24);
  }
  &:active {
    background-color: #fff;
  }
}

button:disabled {
  opacity: 50%;
  background-color: darken($snow, 4);
  color: darken($air-force-blue, 4);
  &:hover {
    background-color: darken($snow, 4);
    color: darken($air-force-blue, 4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

.link {
  color: $fire-brick;
  font-weight: 800;
  text-decoration: none;
}

.tag {
  display: inline-block;
  padding: 0.2em 1em;
  background-color: $fire-brick;
  color: $snow;
  font-weight: 600;
  border-radius: 5px;
}

.card {
  padding: 10px;
  border-radius: 5px;
  margin: 1em 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-group {
  display: inline-flex;
  border: 0 none;
  margin: 1em 0;
  button {
    &:first-child {
      margin-right: 2px;
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      margin-left: 2px;
      border-radius: 0 3px 3px 0;
    }
    &:not(:first-child):not(:last-child) {
      margin: 0 2px;
    }
    &:only-child {
      border-radius: 3px 3px 3px 3px;
    }
  }
}

label.darkModeBtn {
  display: inline-block;
  user-select: none;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #eee;

  &:hover {
    background-color: #000;
    color: white;
  }

  input {
    margin-right: 3px;
  }
  input {
    display: none;
  }
}

.page {
  & > header {
    margin: 10px;
    display: flex;
    align-items: center;
    h2 {
      font-size: 1em;
      margin-left: 10px;
      color: $fire-brick;
    }
  }
}

table {
  width: 100%;
  td {
    border-bottom: solid 1px $platinum;
    padding: 0.2em 0;
  }
  &.scrollable {
    tbody {
      display: block;
      overflow-y: scroll;
    }
  }
}

.scrollable {
  border: inset 1.5px $air-force-blue;
  display: block;
  overflow-y: scroll;
}
